/*--HEADER----------------*/
*{
    font-family: 'Roboto', sans-serif;
}
header{
    background: #111;
    padding-top: 20px;
}
header .top-header{
    background: #FFF;
    text-align: center;
    position: relative;
}
header .top-header .logo{
    width: 350px;
    max-width: 90%;
    display: inline-block;
    padding: 10px 0;
}
header .top-header .logo img{
    width: 100%;
    height: auto;
}
header .top-header .sub-menu{
    padding: 10px 0;
    position: absolute;
    top: 10px;
    right: 10px;
}
header .top-header .sub-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
header .top-header .sub-menu ul li{
    display: inline-block;
    margin: 0 10px;
}
header .top-header .sub-menu ul li a{
    color: #111;
    font-size: .9em;
}
header .top-header .sub-menu ul li a:hover{
    text-decoration: none;
    color: #f72020;
}
header .top-header .sub-menu ul li i{
    vertical-align: bottom;
}
header .top-header .sub-menu .cart a{
    position: relative;
}
header .top-header .sub-menu .cart .qty{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: #f72020;
    text-align: center;
    line-height: 17px;
    color: #FFF;
    font-weight: 700;
    font-size: 11px;
    border-radius: 100%;
    position: absolute;
    top: -10px;
    right: -17px;
}
header .top-header .sub-menu .cart i{
    vertical-align: bottom;
}
/*--SEARCH-MODAL----------------------*/
#search-modal{
    border-radius: 0;
}
#search-modal .modal-content{
    padding: 0;
}
#search-modal .modal-content nav{
    background: #111;
}
#search-modal .modal-content nav input, #search-modal .modal-content nav input:focus{
    background: transparent;
    margin: 0;
}
/*--NAGIGATION----------------*/
header .navigation{
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    background: #FFF;
    text-align: center;
    position: relative;
}
header .navigation ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
header .navigation .main-menu > li{
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    text-align: center;
}
header .navigation .main-menu > li > a{
    color: #111;
    padding: 10px 20px;
    display: inline-block;
}
header .navigation .main-menu > li:hover > a{
    text-decoration: none;
    background: #444;
    color: #FFF;
}
header .navigation .main-menu > li.active > a{
    font-weight: 700;
}
header .navigation ul.submenu{
    z-index: 5;
    visibility: hidden;
    position: absolute;
    background: #FFF;
    width: 200px;
    text-align: left;
    padding: 15px;
    border: 1px solid #111;
    border-top: 4px solid #444;
    left: 0;
    top: 60px;
    opacity: 1;
    transition: all .12s linear;
}
header .navigation ul > li:hover > ul.submenu{
    top: 40px;
    opacity: 1;
    visibility: visible;
}
header .navigation ul ul.submenu > li{
    margin: 15px 0;
    text-transform: initial;
    padding: 0;
    display: block;
}
header .navigation ul ul.submenu > li a{
    text-transform: uppercase;
    font-size: .9em;
    color: #444;
    display: block;
}
header .navigation ul ul.submenu > li a:hover{
    color: #f72020;
    text-decoration: none;
}

/*--MOBILE NAVIGATION-----------------*/
#slide-main-menu > li{
    margin-bottom: 10px;
}
#slide-main-menu > li:first-child{
    padding: 20px 20px 15px;
    background: #111;
}
#slide-main-menu .logo{
    height: initial;
    line-height: initial;
    padding: 0;
    text-align: center;
}
#slide-main-menu .logo img{
    width: 100%;
}
#slide-main-menu > li > a{
    text-transform: uppercase;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
}
#slide-main-menu ul.submenu a{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

/*--SLIDE-FILTER-NAV---------------------*/
#slide-filter-nav h2{
    background: #111;
    color: #FFF;
    margin: 0;
    padding: 20px;
}
#slide-filter-nav h2 small{
    font-size: 12px;
    padding-bottom: 5px;
    display: block;
    color: #dadada;
}
#slide-filter-nav .product-nav{
    padding: 20px;
}
#slide-filter-nav .product-nav .product-nav-item-head a{
    padding: 0;
    font-size: 1.2em;
}
#slide-filter-nav .product-nav ul{
    padding: 0;
}
#slide-filter-nav .product-nav ul a{
    padding: 0;
    height: 30px;
}
#slide-filter-nav .category-nav .product-nav-item{
    margin-bottom: 30px;
}
#slide-filter-nav .product-size, #slide-filter-nav .product-color{
    margin-top: 10px;
}
#slide-filter-nav .product-size li a, #slide-filter-nav .product-color li a{
    width: 30px;
    line-height: 30px;
    font-size: 13px !important;
}
#slide-filter-nav li.active{
    background: none;
}
#slide-filter-nav .product-price-range li.active a{
    color: #c62828;
    font-weight: 600;
}
/*--SLIDER--------------------*/
#slider .indicators li.indicator-item{
    border-radius: 0;
    width: 60px;
    height: 5px;
    border: 0;
    margin: 10px 5px;
}
/*--SECTION-WRAP------------------*/
.section-wrap{
    padding: 20px 0;
}
.section-wrap .section-title{
    margin-bottom: 40px;
}
.section-wrap .section-title h3{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.3em;
}
.section-wrap .section-title h3::after{
    display: block;
    width: 50px;
    height: 1px;`
    content: " ";
    background: #333;
    margin: 0 auto;
    margin-top: 5px;
}
.top-best{
    background: #f1f1f1;
}
/*--PRODUCT-LIST----------------------*/
.product-list .product-wrap{
    position: relative;
}
.product-list .product-wrap .sale-badge{
    position: absolute;
    color: #FFF;
    background: #111;
    font-size: 11px;
    display: block;
    padding: 3px 7px;
    font-family: "Roboto", sans-serif;
    top: 0;
    left: 0;
}
.product-list .product-item{
    width: 20%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
}
.top-best .product-list .product-item:last-child, .hot-deal .product-list .product-item:last-child{
    display: none;
}
.product-list .product-item img{
    width: 100%;
    height: auto;
}
.product-list .product-item .product-name{
    text-align: center;
    font-size: .9em;
    color: #444;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}
.product-list .product-item a:hover{
    text-decoration: none;
}
.product-item:hover a .product-name, .product-item:hover .product-item-name a{
    color: #f72020 !important;
}
.product-list .product-item .product-name::before{
    content: " ";
    width: 50px;
    height: 1px;
    display: block;
    background: #444;
    margin: 0 auto;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.product-list .product-item:hover .product-name::before{
    width: 70px;
}
.product-list .product-item .product-price{
    font-weight: 700;
    font-size: 1.4em;
    text-align: center;
    color: #444;
}
.product-list .product-item .product-price sup{
    font-size: 10px;
}
.product-list .product-item .product-sub-price{
    text-align: center;
    font-size: 12px;
    color: #989898;
}
.load-more{
    font-size: 1.3em;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background: #f1f1f1;
    color: #444;
    margin-top: 40px;
}
.load-more:hover{
    background: #dadada
}
/*--BRAND---------------------------*/
.brand-logo{
    background: #f1f1f1;
}
.brand-logo > div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand-logo .brand-item{
    width: 100%;
    float: left;
    padding: 15px;
    text-align: center;
}
.brand-logo .brand-item img{
    max-width: 100%;
    width: 200px;
    height: auto;
}
/*--FOOOTER--------------------------*/
footer{
    background: #111;
    color: #FFF;
}
footer .footer-item-title{
    font-family: "Roboto", sans-serif;
    font-size: .9em;
    text-transform: uppercase;
    font-weight: 700;
}
footer .footer-item .footer-item-content ul{
    list-style: none;
    margin: 0;
    padding: 0;
    color: #f1f1f1;
}
footer .footer-item .footer-item-content li, footer .footer-item .footer-item-content p{
    font-size: 12px;
}
footer .footer-item .footer-item-content li{
    margin-bottom: 5px;
}
footer .footer-item-content a{
    color: #f1f1f1;
}
footer .footer-item-content form input[type=email]{
    width: calc(100% - 84px);
    float: left;
    background: #a9a9a9;
    color: #FFF;
    border: 0;
    padding: 7px;
    font-size: 12px;
    height: 17px;
}
footer .footer-item-content form input[type=submit]{
    width: 70px;
    float: left;
    background: #737373;
    border: 0;
    height: 31px;
    line-height: 31px;
    text-transform: uppercase;
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    padding: 0;
}
footer .footer-item-content .social li{
    display: inline-block;
    font-size: 1.3em;
    margin-right: 5px;
}
footer .footer-item-content .social li a{
    background: #FFF;
    color: #111;
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    border-radius: 100%;
    line-height: 30px;
}
footer .copyright{
    background: #000;
    padding: 10px 0;
}
footer .copyright p{
    margin: 0;
    font-size: 11px;
    font-family: "Roboto", sans-serif;
}
/*--PROJECT CATEGORY SIDEBAR-----------------------*/
.sidebar h2{
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
}
.sidebar .product-nav{
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}
.product-nav .product-nav-item{
    margin-bottom: 20px;
    overflow: hidden;
}
.product-nav .product-nav-item-head{
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    width: 100%;
}
.product-nav .product-nav-item-head a{
    color: #444;
    font-weight: 700;
    font-size: .9em;
}
.product-nav .product-nav-item-head .toggle-btn span, .attribute-nav .product-nav-item-head span{
    float: right;
    transition: all .3s ease;
    font-size: 14px;
    display: block;
    border: 1px solid #676565;
    color: #4a4a4a;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 9px;
}
.product-nav .product-nav-item-head .toggle-btn.collapsed span,.attribute-nav .product-nav-item-head .collapsed span{
    transform: rotate(90deg);
}
.product-nav .product-nav-content ul{
    list-style: none;
    margin: 0;
    padding: 0 15px 0 15px;
}
.product-nav .product-nav-content ul a{
    color: #444;
    font-size: 12px;
}
.attribute-nav .product-nav-item-head a{
    display: block;
    width: 100%;
}
.attribute-nav .product-nav-item-head a:hover,.attribute-nav .product-nav-item-head a:visited,.attribute-nav .product-nav-item-head a:focus{
    text-decoration: none;
}
.attribute-nav .product-nav-item-head a span{
    float: right;
    font-size: 17px;
}
.product-size li, .product-color li{
    display: inline;
    margin: 0;
    padding: 0;
}
.product-size li a, .product-color li a{
    display: block;
    float: left;
    width: 24px;
    height: 24px;
    background: #f1f1f1;
    text-align: center;
    line-height: 24px;
    font-size: 10px !important;
    margin-right: 3px;
}
.product-size li.active a{
    background: #444;
    color: #FFF;
}
.product-size li a:hover, .product-color li a:hover{
    text-decoration: none;
    transform: scale(1.1);
}
.product-color li a{
    text-indent: -9999px;
}
.product-price-range li.active{
    list-style-type: square;
}
.product-price-range li.active a{
    font-weight: 700;
}
/*--PRODUCT CATEGORY-------------------------*/
.category-product-list .product-item{
    width: 100%;
    float: none;
    padding: 0;
}
.category-product-list .product-item .product-wrap{
    border: 1px solid #DDD;
}
.category-product-list .product-item .product-item-name{
    text-align: center;
    padding: 5px 20px;
}
.category-product-list .product-item .product-item-name a{
    color: #444;
}
.category-product-list .product-item .product-item-name h4{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1em;
}
.category-product-list .product-item .product-item-price{
    overflow: hidden;
    border-top: 1px solid #DDD;
    text-align: left;
    padding: 5px 10px;
    position: relative;
}
.category-product-list .product-item .product-item-price .product-price,.category-product-list .product-item .product-item-price .product-sub-price{
    text-align: left;
}
.category-product-list .product-item .product-item-price .product-item-price-wrap{
    float: left;
    margin-right: 50px;
}
.category-product-list .product-item .product-item-price .sale-badge{
    position: static;
    display: inline-block;
    float: right;
    margin-top: 10px;
}
.category-product-list .product-item-bottom{
    background: #f1f1f1;
    overflow: hidden;
    height: 48px;
}
.category-product-list .product-item-bottom .product-item-bottom-left{
    width: calc(100% - 50px);
    border-right: 1px solid #FFF;
    padding: 10px 20px;
    overflow: hidden;
    float: left;
}
.product-item .view-count{
    float: left;
    color: #868686;
    font-size: 14px;
    margin-top: 7px;
}
.product-item .view-count span{
    display: inline-block;
    float: right;
    margin-top: -2px;
    margin-left: 2px;
}
.product-item .quickview-btn{
    float: right;
    font-size: 20px;
    color: #333;
    margin-top: 3px;
}
.product-item .quickview-btn:hover{
    color: #444;
}
.category-product-list .product-item-bottom .product-item-bottom-right{
    width: 49px;
    height: 48px;
    text-align: center;
    line-height: 60px;
    display: block;
    float: right;
}
.product-item .cart-btn{
    cursor: pointer;
    font-size: 20px;
    color: #333;
    display: block;
    transition: all .3s ease;
}
.product-item .cart-btn:hover{
    color: #FFF;
    background: #111;
}
.page-top nav{
    background: transparent;
    box-shadow: none;
    height: 50px;
}
.page-top .breadcrumb{
    color: #444;
    font-size: 13px;
}
.page-top .breadcrumb::before{
    color: #444;
    font-size: 13px;
    margin: 0;
}
.page-top .breadcrumb:first-child{
    font-weight: 700;
}
.page-top h1.category-title{
    font-size: 1.3em;
    font-weight: 700;
    margin: 0;
    display: inline-block;
    float: left;
}
.page-top .input-field{
    float: right;
    margin-right: 20px;
}
.page-top .select-wrapper input.select-dropdown{
    border: 1px solid #9e9e9e;
    padding: 0 10px;
}

/*--PRODUCT-QUICKVIEW----------------------*/
#quickview-modal.modal{
    width: 90%;
    max-width: 1100px;
    top: 4% !important;
    max-height: calc(100vh - 10%);
    background: #FFF;
}
#quickview-modal .product-quickview{
    padding: 10px 0;
}
#quickview-modal .product-title{
    margin-top: 20px;
}

/*--FLEXSLIDER-------------------------*/
.flexslider{
    border: 0;
    margin-bottom: 15px;
    position: relative;
}
.flexslider .custom-navigation{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 300;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: all .3s ease;
}
.flexslider:hover .custom-navigation{
    opacity: 1;
}
.flexslider .custom-navigation a, .flexslider .custom-navigation a:visited, .flexslider .custom-navigation a:focus{
    color: #111;
    font-size: 30px;
    opacity: .3;
    transition: all .3s ease;
    outline: none;
}
.flexslider .custom-navigation a:hover{
    opacity: 1;
}
.flexslider#slider .custom-navigation a{
    font-size: 50px;
}
.flexslider .custom-navigation .flex-prev{
    float: left;
}
.flexslider .custom-navigation .flex-next{
    float: right;
}
.flexslider#slider .custom-navigation a.flex-disabled{
    display: none;
}
.flexslider#carousel .slides li img{
    padding: 2px;
    background: none;
    box-sizing: border-box;
    width: 100%;
    heightL auto;
    transition: all .3s ease;
}
.flexslider#carousel .slides li:hover{
    cursor: pointer;
}
.flexslider .flex-active-slide img{
    background: #111 !important;
}

/*--PRODUCT-INFO------------------*/
.product-info .product-title{
    font-size: 1.3em;
    font-weight: 600;
}
.product-info h1.product-title{
    font-size: 1.5em;
}
.product-info .product-item-price{
    overflow: hidden;
    margin-bottom: 20px;
}
.product-info .product-item-price .product-price{
    font-weight: 600;
    font-size: 1.5em;
}
.product-info .product-item-price .product-price sup{
    font-size: 13px;
}
.product-info .product-item-price .product-sub-price{
    font-size: 13px;
    color: #8c8c8c;
}
.product-info .product-item-price .product-item-price-wrap{
    float: left;
    margin-right: 50px;
}
.product-info .product-item-price .sale-badge{
    position: static;
    display: inline-block;
    float: left;
    margin-top: 10px;
    background: #111;
    color: #FFF;
    padding: 3px 10px;
    font-size: 12px;
}
.product-info .product-item-color,.product-info .product-item-size{
    margin-bottom: 20px;
}
.product-info .product-item-color span, .product-info .product-item-size span{
    margin-bottom: 10px;
    display: inline-block;
}
.product-info .product-item-color ul, .product-info .product-item-size ul{
    overflow: hidden;
    margin: 0;
}
.product-info .product-item-color ul li, .product-info .product-item-size ul li{
    display: inline;
    margin: 0;
}
.product-info .product-item-color ul li.selected a, .product-info .product-item-size ul li.selected a{
    border: 2px solid #111;
}
.product-info .product-item-color ul li a, .product-info .product-item-size ul li a{
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    float: left;
    margin-right: 5px;
    box-sizing: border-box;
    border: 2px solid transparent;
}
.product-info .product-item-size ul li a{
    background: #f1f1f1;
    text-indent: initial;
    text-align: center;
    line-height: 28px;
    font-size: 13px;
    color: #111;
}
.product-info .size-guides{
    margin-top: 20px;
}
.product-info .size-guides span{
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
}
.product-info .size-guides table{
    margin-bottom: 20px;
}
.product-info .size-guides table thead{
    background: #111;
    color: #FFF;
    text-align: center;
}
.product-info .size-guides table thead th{
    font-size: .9em;
    text-align: center;
    padding: 10px 0;
}
.product-info .size-guides table td{
    padding: 5px;
    font-size: 12px;
}
/*--PRODUCT-TABS----------------------------------------*/
.product-detail-tabs.tabs .tab a{
    color: #8c8c8c;
}
.product-detail-tabs.tabs .tab a:hover{
    color: #111;
}
.product-detail-tabs.tabs .tab a.active{
    background: #444;
    color: #FFF;
}
.product-detail-tabs .indicator{
    background: #111;
}
.product-detail .tab-content{
    padding: 20px;
    background: #f1f1f1;
    min-height: 300px;
    border-top: 1px solid #111;
}

/*--RELATED-PRODUCTS-------------------------------*/
.related-products h3{
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 600;
}
/*----BRAND-----------------------------*/
.brand-cover img{
    width: 100%;
    height: auto;
}
.brand-info .brand-pic img{
    width: 100%;
    height: auto;
    border: 1px solid #111;
}
.brand-nav{
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}
.brand-nav ul{
    margin: 0;
    padding: 0;
}
.brand-nav ul li{
    display: inline-block;
    float: left;
}
.brand-nav ul li a{
    display: block;
    height: 59px;
    line-height: 59px;
    padding: 0 1rem;
    color: #111;
    font-weight: 600;
    transition: all .3s ease;
}
.brand-nav ul li a:hover{
    opacity: .5;
}
.brand-nav .input-field{
    margin: 5px 0 !important;
    border: 1px solid #DDD;
    padding: 0 5px;
}
.brand-nav .input-field input[type=text]{
    margin: 0;
    border-bottom: 0;
}
/*--CART-----------------------------*/
.cart table{
    max-width: 100%;
    margin: 0 auto;
}
.cart table thead, .cart table thead tr{
    border-bottom: 0;
}
.cart table thead th{
    font-size: 12px;
    text-transform: uppercase;
    background: #111;
    color: #FFF;
    border: 0;
    border-radius: 0;
}
.cart table tbody > tr td{
    border-radius: 0;
}
.cart table tbody > tr:first-child td{
    border-top: 0;
}
.cart table tbody > tr > td:nth-child(even), .cart table tbody > tr > td:first-child{
    background: #f9f9f9;
}
.cart table img{
    width: 120px;
    height: auto;
    padding: 3px;
    border: 1px solid #DDD;
    background: #FFF;
}
.cart table a h5{
    color: #111;
    font-weight: 600;
    font-size: 1.2em;
}
.cart table input.qty{
    width: 50px;
    border: 1px solid #DDD;
    padding: 5px;
    margin: 0;
    text-align: center;
}
.cart table input.qty:focus{
    background: #FFF;
}
.cart .product-price{
    font-weight: 600;
    font-size: 1.3em;
}
.cart .product-price sup{
    font-size: 13px;
}
.cart .product-sub-price{
    font-size: .9em;
    color: #818181;
    margin-bottom: 5px;
}
.cart .sale-badge{
    display: inline-block;
    background: #111;
    color: #FFF;
    font-size: 14px;
    padding: 3px 7px;
}
.cart table .delete{
    color: #111;
}
.cart table .delete:hover{
    color: red;
}
.cart .total{
    background: #f7f7f7;
}
.cart .cart-btn-group{
    float: right;
}
.cart .cart-btn-group a{
    box-shadow: none;
}
.cart .cart-btn-group .continue-shopping-btn{
    background: #fff;
    color: #111;
    border: 1px solid #111;
}
.cart .cart-btn-group .delete-cart-btn, .cart .cart-btn-group .update-cart-btn{
    background: #111;
}
.cart .cart-discount{
    width: 700px;
    max-width: 100%;
    padding: 50px;
}
.cart .cart-discount label{
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #111;
    display: block;
}
.cart .cart-discount #coupon-code{
    border: 1px solid #DDD;
    padding-left: 10px;
    padding-right: 10px;
    background: #FFF;
    width: calc(100% - 100px);
    box-sizing: border-box;
    float: left;
}
.cart .cart-discount .coupon-btn{
    float: right;
    background: #111;
    width: 100px;
    border-radius: 0;
    box-shadow: none;
    height: 43px;
    line-height: 48px;
    padding: 0;
    font-size: 13px;
}
.cart .cart-summary h3{
    font-size: 1.3em;
    font-weight: 600;
    border-bottom: 1px solid #111;
    padding-bottom: 10px;
}
.cart .cart-summary table td, .cart .cart-summary table th{
    padding: 5px 0;
    font-size: 1.2em;
}
.cart .cart-summary table td:last-child, .cart .cart-summary table th:last-child{
    text-align: right;
}
.cart .cart-summary table th{
    border-top: 1px solid #111;
}
.cart .cart-summary .checkout{
    width: 100%;
    background: #111;
    height: 50px;
    line-height: 50px;
}
/*--NEWS------------------------------------*/
.news-item{
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
    box-sizing: border-box;
}
.news-item a.thumb{
    display: block;
    box-sizing: border-box;
}
.news-item img{
    width: 100%;
    height: auto;
}
.news-item .title{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}
.news-item h5{
    color: #FFF;
    text-shadow: 0 2px 2px rgba(0,0,0,0.14);
    text-transform: uppercase;
    font-size: 1.3rem;
    transition: all .3s ease;
}
.news-item.first-news{
    margin-bottom: 0;
}
.news-item.first-news h5{
    font-weight: 600;
    font-size: 2rem;
}
.news-item .viewmore
{
    display: inline-block;
    color: #FFF;
    border: 1px solid #FFF;
    padding: 5px;
    font-size: 12px;
    text-transform: uppercase;
    background: transparent;
    transition: all .3s ease;
}
.news-item .viewmore:hover{
    background: #111;
    border-color: #111;
}
.news-item:hover h5{
    padding-bottom: 10px;
}
.news-sidebar-item h3{
    font-size: 1em;
    margin: 0 0 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.news-sidebar-item ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.news-sidebar-item ul li{
    overflow: hidden;
    padding: 5px 0;
    border-bottom: 1px solid #DDD;
}
.news-sidebar-item .thumb{
    width: 80px;
    height: 80px;
    display: inline-block;
    float: left;
    margin-right: 20px;
}
.news-sidebar-item .thumb img{
    width: 100%;
    height: auto;
}
.news-sidebar-item .title{
    display: inline-block;
    width: calc(100% - 100px);
}
.news-sidebar-item .title a{
    color: #6d6d6d;
}
.news-sidebar-item .title time{
    display: block;
    font-size: 12px;
    margin-top: 10px;
    opacity: .5;
}
.news-single .feature-image{
    margin-bottom: 15px;
}
.news-single .feature-image img{
    width: 100%;
    height: auto;
}
.news-single .post-title{
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 20px;
}
.news-single .post-text img{
    max-width: 100%;
    height: auto;
}
.news-single .post-text h2, .news-single .post-text h3, .news-single .post-text h4, .news-single .post-text h5, .news-single .post-text h6{
    font-weight: 600;
}
.news-single .post-text h2{
    font-size: 1.9rem;
}
.news-single .post-text h3{
    font-size: 1.8rem;
}
.news-single .post-text h4{
    font-size: 1.5rem;
}
.news-single .post-text h5{
    font-size: 1.2rem;
}
.news-single .post-text h6{
    font-size: 1rem;
}
.news-single .post-text ul{
    padding: 0 30px;
    list-style-type: initial;
}
.news-single .post-text ul li{
    list-style-type: initial;
    margin-bottom: 10px;
}
.news-single .post-text a{
    color: #f72020;
}
.related-posts h3{
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
}
.related-posts h3:after{
    display: inline-block;
    content: " ";
    width: 100px;
    height: 3px;
    background: #111;
    margin-left: 10px;
}